<footer class="footer has-background-black">
  <div class="content has-text-centered is-size-7">
    <div class="container">
      <a href="https://www.canada.ca/en/polar-knowledge.html" style="margin-right: 15px; margin-top: 25px; margin-bottom: 25px;">
        <img src="assets/images/support/PolarKnowledgeCanada.png" alt="Polar Knowledge Canada Logo" width="120" align="middle">
      </a>
      <a href="https://atmosbios.com/" style="margin-right: 25px; margin-top: 25px; margin-bottom: 25px;">
        <img src="assets/images/support/atmosbios_logo.png" alt="ATMOSBIOS Lab Logo" width="250" align="middle">
      </a>
      <a href="https://www.igsoc.org/" style="margin-right: 25px; margin-top: 25px; margin-bottom: 25px;">
        <img src="assets/images/support/IGS_logo.png" alt="IGS Logo" width="75" align="middle">
      </a>
      <a href="https://www.aicentre.dk/" style="margin-right: 25px; margin-top: 25px; margin-bottom: 25px;">
        <img src="assets/images/support/pioneer_center_ai_white.png" alt="Pioneer Center for AI Logo" width="250" align="middle">
      </a>
      <a href="https://www.highvolt.com/en/" style="margin-right: 25px; margin-top: 25px; margin-bottom: 25px;">
        <img src="assets/images/support/highvolt.png" alt="HighVolt Logo" width="80" align="middle">
      </a>
    </div>
    <br>
    <br>
    {% capture content %}{% include footer.md %}{% endcapture %}
    {{ content | markdownify }}
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
      <i class="fab fa-creative-commons fa-{{ include.icon-size }}" aria-hidden="true"></i>
      <i class="fab fa-creative-commons-by fa-{{ include.icon-size }}" aria-hidden="true"></i>
      <i class="fab fa-creative-commons-nc fa-{{ include.icon-size }}" aria-hidden="true"></i>
      <i class="fab fa-creative-commons-sa fa-{{ include.icon-size }}" aria-hidden="true"></i>
    </a>
    Creative Commons License <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
  </div>
</footer>
