<div class="content">
  <h3>{{ event.name | markdownify }}</h3>
  <span class="icon">
    <i class="fa-regular fa-calendar"></i>
  </span>
  <span><i>{{ event.date | date: "%B %e, %Y" }}</i></span>
  <br>
  {% if event.materials %}
   <ul>
    {% for item in event.materials %}
       <li>{{ item }}</li>
    {% endfor %}
   </ul> 
  {% endif %}
  <p>{{ event.description | markdownify }}</p>

  <div class="columns is-multiline">
  {% assign event_dir = "/assets/events/" | append: event.id | append: "/" %}
  {% for file in site.static_files %}
    {% if file.path contains event_dir %}
      {% if file.extname == ".jpg" or file.extname == ".jpeg" or file.extname == ".png" %}
        <div class="column is-one-third">
          <figure class="image">
            <img src="{{ file.path | relative_url }}" alt="{{ file.name }}">
          </figure>
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
